@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  .main-text-color {
    color:#F4867B!important ;
  }

  .main-bg-color {
    background-color: #F4867B!important ;
  }